<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="db_banecuadorConnectionString" connectionString="Data Source=SETA77\SQLEXPRESS;Initial Catalog=db_banecuador;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="db_banecuadorConnectionString2" connectionString="Data Source=SETA77\SQLEXPRESS;Initial Catalog=db_banecuador;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="db_banecuadorConnectionString3" connectionString="Data Source=SETA77\SQLEXPRESS;Initial Catalog=db_banecuador;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="db_banecuadorConnectionString4" connectionString="Data Source=SETA77\SQLEXPRESS;Initial Catalog=db_banecuador;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="db_banecuadorConnectionString5" connectionString="Data Source=SETA77\SQLEXPRESS;Initial Catalog=db_banecuador;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="db_banecuadorConnectionString6" connectionString="Data Source=SETA77\SQLEXPRESS;Initial Catalog=db_banecuador;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
